.navigation {
    position: relative;
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;
    padding: 0.5rem 0rem 0.5rem 20rem;
    background-color: #fff;
    color: black;
  }